

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

html, body{
    min-width: fit-content;
    min-height: 100vh;
}

body{
    position: relative;

}

li{
    list-style-type: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

form{
    background-color: palegreen;
    box-shadow: -4px 7px 0px lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 60%;
}

form > h1{
    background-color: white;
    box-shadow: -4px 4px 0px black;
    color: black;
    margin-bottom: 30px;
}

form div:has(input:required) > label::before{
    content: '*';
    color: red;
}

form > .field{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}   

form input, textarea{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: medium solid black;
    padding: 10px;
    transition: all 0.4s ease;
    width: 80%;
}

textarea:focus ,input:focus{
    border-bottom: 4px solid black;
}

.field > label{
    background-color: black;
    box-shadow: -4px 4px 0px white;
    color: white;
}

form p{
    margin-top: 15px;
}

@keyframes flash {
    from{
        height: 0px;
    }

    to{
        height: 100px;
    }
}

.flash{
    width: 100%;
    height: 100px;
    animation: flash 3s forwards;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.success{
    background-color: palegreen;
    color: darkgreen;
}

.error{
    background-color: lightcoral;
    color: darkred;
}

span.close{
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    padding: 3px;
}

.flash.success span.close{
    color: medium solid darkgreen;
    border: thin solid darkgreen;
}

.flash.error span.close{
    border: medium solid darkred;
    border: thin solid darkred;
}

nav{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 5px 0px 5px grey;
    gap: 10px;
    padding: 5px;
    background-color: whitesmoke; 
}

nav h1{
    font-style: italic;
    position: absolute;
    left: 10px;
    display: flex;
    gap: 5px;
    align-items: center;

}

nav div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.title{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.main.title{
    justify-content: center; 
    border-bottom: thin solid black;
    margin-bottom: 50px;  
    position: relative;
    height: 50px;
}

.main.title > .info{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 30%;
    background-color: white;
    padding: 10px;
}

.account{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    position: relative;
    user-select: none;
}

.account > .overview{
    display: flex;
    gap: 5px;
    cursor: pointer;
    border: thin solid black;
    background-color: white;
}

.overview-member, .overview.admin{
    font-weight: bolder;
    text-shadow: -1px 0px 1px black;
}

.overview.member{ 
    background-color: royalblue;
    color: white;
}

.overview.admin{
    font-weight: bolder;
    background-color: gold;
    color: white;
}

.account > .info{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    z-index: 1;
}

.account.active > .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
    top: 45px;
    box-shadow: -4px 4px 0px black;
    border-radius: 15px;
    background-color: white;
    right: 5%;
}

.btn{
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: -4px 4px 0px black;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.btn.delete{
    border: medium solid darkred;
    background-color: white;
    color: darkred;
}

.btn.delete.active{
    
    background-color: lightcoral;
    color: darkred;
    box-shadow: 0px 0px 6px darkred inset;
}

.btn.create{
    background-color: palegreen;
    color: darkgreen;
    border: medium solid darkgreen;
}

.btn.create.active{
    box-shadow: 0px 0px 6px darkgreen inset;
}

.btn.overview.active{
    border: thin solid black;
    box-shadow: 0px 0px 0px black inset;
}

.btn.active{
    border-width: thin;
    box-shadow: none;
}

main > article h3{
    padding: 5px;
    background-color: black;
    color: white;
}

main > article:not(:last-child){
    margin-bottom: 20px;
}

article > .header{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

article{
    border: thin solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

article p{
    display: flex;
    align-items: center;
}

article p.author{
    background-color: azure;
}


article p.date{
    background-color: snow;
    justify-content: flex-end;
    padding-right: 5px;
}

article p.message{
    background-color: ghostwhite;
}

.disabled{
    color: darkgrey;
}

.disabled:active{
    pointer-events: none;
}